*{
    font-family: sans-serif;
    width: 100%;    /* largura */
    margin: 0% auto; /* margem da página */
    box-sizing: border-box;
}

body{
    background-color: #0e0d0d;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 500px;
}

.container-caracteres{
    margin: 20px;
    max-width: 400px;    
}

.container-caracteres span{
    color: #ffffff;
    font-size: 20px;
}

.slider{
    appearance: none;
    height: 15px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    background: white;

}

.button-cta{
    padding: 8px;
    margin-top: 20px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: #393cee;
    color: #ffffff;    
    border: 0;
    border-radius: 5px;
    font-size: 18px;
 
}

.container-senha{
    display: flex;
    align-items: center;
    flex-direction: column; 
    max-width: 400px;  
    justify-content: center;   
}

#titulo{    
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    margin-top: 25px;
}

.senha{
    color: #ffffff;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #00000098;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    transition: transform 0.5s;
}

.senha:hover{
    transform: scale(1.10);
}

.tooltip{
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-bottom: 100px;
        
}

.container-rodape span{
      color: white;
      max-width: 100%;   
 }

.container-rodape a{
    color: #393cee;
}


